* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.home-background {
  background: url(./images/ryan-wilson-5154.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.trips-header {
  background: url(./images/lukas-neasi-65741.jpg);
  background-size: cover;
  background-position: center;
  /* min-height: 275px; */
}

.trip-header {
  background: url(./images/christopher-burns-194367.jpg);
  background-size: cover;
  background-position: center;
  min-height: 275px;
}

.trips-form {
  margin: 0 auto;
  width: 600px;
  padding: 50px 0;
}


.trips-form input {
  margin-bottom: 10px;
}

.trips-form h2 {
  font-size: 35px;
  color: #fff;
  text-shadow: 1px 1px 10px #000;
  margin-bottom: 20px;
}

.trips-form input {
  font-size: 20px;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  border: 0;
  width: 400px;
}

.trips-body {
  margin: 0 auto;
  width: 600px;
  padding: 25px;
}

.trip-item {
  border: 1px solid #fafafa;
  margin-top: 15px;
  box-shadow: 1px 1px 4px rgba(100,100,100,0.1)
}

.trip-info {
  padding: 25px;
  box-sizing: border-box;
  min-height: 125px;
}

.trip-item h3 {
  margin-bottom: 10px;
}

.trip-image {
  height: 125px;
  float: right;
}

.trip-image img {
  max-height: 100%;
  max-width: 100%;
}

.trip-date {
  color: #ccc;
  font-weight: normal;
}

.activity {
  margin: 25px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.home {
  margin: 0 auto;
  position: relative;
  top: 300px;
  width: 400px;
  padding: 30px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

.home-button {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background:rgb(137, 7, 70);
  color: #fff;
}

p {
  margin: 10px 0;
}