.activity {
    margin: 5px 0;
    padding: 15px;
  }

 .activity img {
     width: 60px;
     float: left;
     margin-left: -25px;
 }
  .activity-link {
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .activity-content {
      margin: 5px 0 0 50px;
  }

  .activity h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .activity .description {
    margin-bottom: 8px;
  }

  .activity-form {
      max-width: 350px;
  }