.activity {
  margin-bottom: 20px;
}

  .activity h4 {
    font-family: "Amatic SC";
    font-size: 30px;
    margin-bottom: 5px;
  }

  .activity-link {
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .activity-content {
    margin: 0;
  }

  .activity .description {
    margin-bottom: 8px;
  }

  .activity-form {
      max-width: 350px;
  }



  .delete-activity {
    display: none;
  }
  .activity:hover .delete-activity {
    font-family: sans-serif;
    display: inline-block;
    font-size: 11px;
    color: rgb(217, 127, 127);
    cursor: pointer;
    border-radius: 2px;
  }
