@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, a:active, a:visited {
  color: rgb(98, 68, 53);
}

a:hover {
  color: rgb(149, 113, 95);
}

/* Input fields */

  input, textarea {
    display: block;
    margin: 12px 0;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px rgba(81, 56, 40, 0.3);
    border-radius: 3px;
  }

  input:focus, textarea:focus {
    outline: none;
    border: 1px solid rgb(203, 177, 163);
  }

  input[type=submit]{
    display: inline-block;
    width: 100px;
    background: linear-gradient(#624b3b, #2b2b2b);
    color: #fff;
    font-weight: bold;
    border: none;
  }

  input[type=submit]:hover{
    background: linear-gradient(#886752, #424242);
  }

h2 {
  font-family: 'Oleo Script', Helvetica, sans-serif;
  font-weight: normal;
  color: #2b2b2b;
  text-shadow: 3px 2px 0px rgba(0,0,0,0.1);
  font-size: 55px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Oleo Script', Helvetica, sans-serif;
  font-weight: normal;
  color: #584339;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
  font-size: 30px;
  margin-bottom: 15px;
}

.trips-header {
  background: url(../images/ryan-wilson-5154.jpg);
  background-size: cover;
  background-position: center;
}

.trips-body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}


.home-background {
  background: url(../images/ryan-wilson-5154.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


.home {
  margin: 0 auto;
  position: relative;
  top: 300px;
  width: 400px;
  padding: 30px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

.home-button {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background:rgb(137, 7, 70);
  color: #fff;
}

p {
  margin: 10px 0;
}

@media (min-width: 900px) {
  .trips-body {
    padding: 30px;
  }
}