  .trips-form {
    margin: 0 auto;
    width: 600px;
    padding: 50px 0;
  }

  .trips-form h2 {
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    margin-bottom: 20px;
  }

input[type=radio] {
    display:none;
    }

    input[type=radio] + label
    {
    border-color: white;
    border-style: solid;
    background: #fff;
    height: 100px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
    background-size: cover;
    background-position: center;
    margin: 15px 15px 0 0;
    opacity: 0.9;
    }

    input[type=radio]:checked + label
    {
        border-color: rgb(125, 86, 66);
        border-style: solid;
        height: 100px;
        width: 150px;
        display:inline-block;
        padding: 0 0 0 0px;
        background-size: cover;
        background-position: center;
        margin: 15px 15px 0 0;
        opacity: 1;
    }

    .extra-fields {
      max-height: 0px;
      opacity: 0;
      transition: all 1s;
    }

     .expanded {
      max-height: 700px;
      opacity: 1;
    }

    .photo-options {
      max-height: 0px;
      opacity: 0;
      transition: all .5s;
    }

     .photo-expanded {
      max-height: 350px;
      opacity: 1;
    }
