  .trips-form {
    margin: 0 auto;
    width: 500px;
    padding: 15px 0;
  }

  .trips-form h2 {
    font-family: "Amatic SC";
    letter-spacing: -1px;
    font-size: 40px;
    color: rgb(93, 82, 75);
    text-shadow: none;
    margin: 50px 0 10px 0;
}

input[type=radio] {
    display:none;
    }

    input[type=radio] + label
    {
    border-color: white;
    border-style: solid;
    background: #fff;
    height: 100px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
    background-size: cover;
    background-position: center;
    margin: 15px 15px 0 0;
    opacity: 0.9;
    }

    input[type=radio]:checked + label
    {
        border-color: rgb(125, 86, 66);
        border-style: solid;
        height: 100px;
        width: 150px;
        display:inline-block;
        padding: 0 0 0 0px;
        background-size: cover;
        background-position: center;
        margin: 15px 15px 0 0;
        opacity: 1;
    }

    .extra-fields {
      max-height: 0px;
      opacity: 0;
      transition: all 1s;
    }

     .expanded {
      max-height: 700px;
      opacity: 1;
    }

    .photo-options {
      max-height: 0px;
      opacity: 0;
      transition: all .5s;
    }

     .photo-expanded {
      max-height: 350px;
      opacity: 1;
    }
