
.trips-form {
    margin: 0 auto;
    width: 600px;
    padding: 50px 0;
  }


  .trips-form input {
    margin-bottom: 10px;
  }

  .trips-form h2 {
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    margin-bottom: 20px;
  }

  .trips-form input {
    font-size: 20px;
    padding: 10px;
    background: rgba(255,255,255,0.5);
    border: 0;
    width: 400px;
  }



input[type=radio] {
    display:none;
    }

    input[type=radio] + label
    {
    border-color: white;
    border-style: solid;
    background: #fff;
    height: 100px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
    background-size: cover;
    background-position: center;
    margin: 15px 15px 0 0;
    opacity: 0.9;
    }

    input[type=radio]:checked + label
    {
    border-color: red;
    border-style: solid;
    height: 100px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
    background-size: cover;
    background-position: center;
    margin: 15px 15px 0 0;
    opacity: 1;
    }

    .extra-fields {
      max-height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: all 1s;
    }

     .expanded {
      max-height: 700px;
      opacity: 1;
    }

    .photo-options {
      max-height: 0px;
      opacity: 0;
      transition: all .5s;
    }

     .photo-expanded {
      max-height: 350px;
      opacity: 1;
    }

    .trips-form input[type=submit]{
    background: #fff;
    width: 100px;
    margin-top: 15px;
    border: 1px solid #ba1766
    }
