.trip-header {
    background-size: cover;
    background-position: center;
    min-height: 275px;
}


.trip-show-date {
    font-family: "Amatic SC";

    color: #ccc;
    font-weight: bold;
    font-size: 35px;
    text-shadow: none;
    margin-left: 10px;
  }

  .trip-show-map {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
  }

  .trip-notes {
    color: rgb(100,100,100);
    font-size: 20px;
    margin-bottom: 15px;
  }

  .delete-trip {
    float: right;
    display: inline-block;
    font-size: 12px;
    color: rgb(217, 127, 127);
    cursor: pointer;
    border-radius: 2px;
  }

  @media(min-width: 700px) {
    .trip-show-content {
      margin-right: 250px;
    }

    .trip-show-map {
      float: right;
      width: 225px;
      height: 225px;
    }
  }


  @media (min-width: 900px) {
    .trips-body {
      padding: 30px;
    }

    .trip-show-content {
      margin-right: 325px;
    }

    .trip-show-map {
      float: right;
      margin-left: -340px;
      width: 300px;
      height: 300px;
    }

  }