.trip-item {
    position: relative;
    float: left;
    width: 100%;
    margin: 15px 0;
    height: 200px;
    overflow: hidden;
    background: #000;
  }

  .trip-item-inner {
    border: 1px solid #fafafa;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 4px rgba(100,100,100,0.1);
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    transition: all .5s;
  }

  .trip-item:hover > .trip-item-inner {
    opacity: 1;
    transform: scale(1.1)
  }

  .trip-info {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 20px;
  }

  .trip-item h3 {
    font-family: "Oleo Script";
    font-weight: normal;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 10px rgba(0,0,0,0.1);
    margin-bottom: -5px;
}


  .activity-count {
    display: inline-block;
    background: url("../images/tagbg.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: right;
    text-shadow: none;
    color: #000;
    padding: 4px 20px 4px 6px;
    font-size: 14px;
  }

  .trip-date {
    font-family: "Amatic SC";
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7), 1px 1px 10px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
  }


  @media (min-width: 500px) {
      .trip-item {
        width: 46%;
        height: 200px;
        margin: 2%;
      }
    }

    @media (min-width: 900px) {
      .trip-item {
        width: 31%;
        height: 200px;
        margin: 1.1%;
      }
    }